@model List<WebInvoicesMVC.Models.InvoiceProductViewModel>

@if (Model != null)
{

  <table class="table">
    <tr>      
      <th>
        @Html.DisplayNameFor(model => model[0].ProductName)
      </th>
      <th>
        @Html.DisplayNameFor(model => model[0].Price)
      </th>
      <th>
        @Html.DisplayNameFor(model => model[0].Quantity)
      </th>
      <th>
        @Html.DisplayNameFor(model => model[0].TotalAmmount)
      </th>
    </tr>

    @foreach (var product in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(model => product.ProductName, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
          @Html.DisplayFor(model => product.Price, new {htmlAttributes = new {@class = "form-control"}})
        </td>
        <td>
          @Html.DisplayFor(model => product.Quantity, new {htmlAttributes = new {@class="form-control"}})
        </td>
        <td>
          @Html.DisplayFor(model => product.TotalAmmount, new {htmlAttributes = new {@class = "form-control"}})
        </td>        
      </tr>
    }
  </table>
}
